<nav class="nav_bar">
  <div class="nav_bar_1"></div>
  <div class="nav_bar_2"></div>
  <div class="nav_bar_3"></div>
  <div class="nav_bar_4 nav_item">
    <span class="nav_link">
      <a href="./map.html">지도</a>
    </span>
    <div class="nav_subbar_4 nav_subbar">
      <a href="./map.html">지도보기</a>
      <a href="./map_help.html">지도도움말</a>
    </div>
  </div>
  <div class="nav_bar_5 nav_item">
    <span class="nav_link">
      <a href="./menu_pick.html">식당추천</a>
    </span>
    <div class="nav_subbar_5 nav_subbar">
      <a href="./menu_pick.html">제비뽑기</a>
      <a href="./menu_wheel.html">돌림판</a>
      <a href="#" onclick="showUpdateMessage()">사다리타기</a>
      <a href="#" onclick="showUpdateMessage()">핀볼게임</a>
    </div>
  </div>
  <div class="nav_bar_6 nav_item">
    <span class="nav_link">
      <a href="./notice.html">더보기</a>
    </span>
    <div class="nav_subbar_6 nav_subbar">
      <a href="./notice.html">공지사항</a>
      <a href="./faq.html">자주묻는질문</a>
      <a href="./terms.html">이용약관</a>
      <a href="./contact.html">문의하기</a>
    </div>
  </div>

  <div class="nav_bar_7"></div>
  <div class="nav_bar_8"></div>
  <div class="nav_bar_9 nav_item">
    <span class="nav_link">마이페이지</span>
    <div class="nav_subbar_9 nav_subbar">
      <a href="./login.html">로그인</a>
      <a href="#" onclick="showLogoutMessage()">로그아웃</a>
      <a href="./signup.html">회원가입</a>
    </div>
  </div>
</nav>